@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #404040;
  background: #f5f5f5;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  font-size: large;
}

.nav-items > ul > li {
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  border-radius: 5px;
  margin: 8px;
  padding: 10px;
  border-bottom: 1px solid orange;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  overflow: hidden;
}

.logo {
  padding: 10px;
  width: 100px;
}

.res-container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.res-card {
  margin: 15px;
  width: 240px;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: transform 0.1s;
}

.res-card:hover {
  transform: scale(1.08);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: rgb(75, 75, 75);
}

.rating {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0px;
  font-weight: bolder;
  justify-content: space-between;
}

.search {
  padding: 10px;
}

.res-card > img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
}

.filter-btn {
  cursor: pointer;
  margin-left: 15px;
  color: white;
  background-color: orange;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
}

.login-btn {
  cursor: pointer;
  padding: 5px 15px;
  background-color: orange;
  color: white;
  border: none;
  display: flex;
  border-radius: 5px;
  margin-right: 10px;
}

.login-btn:hover,
.filter-btn:hover,
.search-btn:hover {
  outline: 0;
  background: #f4f4f4;
  color: orange;
  font-weight: bolder;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shimmer-card {
  width: 240px;
  margin: 10px;
  height: 300px;
  padding: 8px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.search-btn {
  cursor: pointer;
  margin: 10px;
  color: white;
  background-color: orange;
  padding: 5px 15px;
  border: none;
  padding: 6px 15px;
  border-radius: 5px;
}

input[type="text"] {
  box-sizing: border-box;
  margin: 8px 10px;
  color: #212121;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  outline: none;
}

/* Style for the restaurant info container */
.res-info {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the restaurant name */
.res-info h1 {
  font-size: 24px;
  margin: 0;
  color: #333;
}

/* Style for the cuisines */
.res-info p {
  font-size: 16px;
  color: #777;
}

/* Style for the restaurant details */
.res-info h5 {
  font-size: 16px;
  margin: 10px 0;
  color: #555;
}

/* Style for the menu items */
.res-menu-list {
  list-style: none;
  margin: 10px 0;
  font-size: 16px;
  color: #444;
}

/* Add a horizontal line between menu items */
.res-menu-list:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.res-menu-list img {
  width: 100px;
  height: 80px;
  justify-content: end;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Responsive layout */
.about-us,
.contact-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Center align text and elements */
.head {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.pera {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

/* Style form fields and labels */
.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  font-weight: bold;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  padding: 6px 15px;
  margin: 8px 10px;
  color: #212121;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  outline: none;
}

/* Style submit button */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  align-self: flex-start;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Add padding to the sides on smaller screens */
@media (max-width: 768px) {
  .about-us {
    padding: 20px 10px;
  }
}

/* Increase font size on smaller screens */
@media (max-width: 480px) {
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }
}

/* CSS for mobile devices */
@media only screen and (max-width: 470px) {
  .header {
    height: 60px;
  }
  .header .logo {
    width: 80px;
  }
  .nav-items > ul > li {
    font-size: small;
  }
  .nav-items > ul > li .logout-btn,
  .nav-items > ul > li .login-btn {
    font-size: xx-small;
  }
  .filter-search {
    margin: 80px auto 0px;
  }
}
@media only screen and (max-width: 350px) {
  .header {
    height: 50px;
  }
  .header .logo {
    width: 70px;
  }
  .nav-items > ul > li {
    font-size: x-small;
  }
  .nav-items > ul > li .login-btn {
    padding: 5px;
  }
  .filter-search {
    margin: 70px auto 0px;
  }
}
